.container {
  display: flex;
  /* width: 100%; */
  margin: 20px;
  /* background-color: rgb(245, 244, 244); */
}
.mainContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.button {
  border:none;
  padding: 0;
  margin: 0;
  background-color: white;
  cursor: pointer;
  color: rgb(111, 114, 114);
}

.iconContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

span.i {
  font-size: 40px;
}

.disNone {
  display: none;
}

.CardsView {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.divImgCard {
  background-color: rgb(245, 244, 244);
  margin: 0 0 50px 3.5%;
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
  width: 300px;
 /* width: 100px; */
}

.cardText {
  text-align: center;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardPrice {
  width: 50%;
  text-align: center;
  font-size: large;
  color: red;
}

.divImgList {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.ListView {
  background-color: rgb(245, 244, 244);
}

.addButton {
  width: 90px;
  height: 40px;
  border: 1px solid red;
  border-radius: 25% 10%;
  color: red;
  font-weight: 600;
  cursor: pointer;
  /* margin-left: 30px; */
  margin-right: 30px;
  padding: 0;
}
