.container {
  display: flex;
  justify-content: center;

  margin: 20px;
}
.mainContainer {
  display: flex;
  flex-direction: column;

  width: 1000px;
  
}

.button {
  padding: 0;

  border:none;
  
  background-color: white;
  color: rgb(111, 114, 114);

  cursor: pointer;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  
}

span.i {
  font-size: 40px;
}

.disNone {
  display: none;
}

.CardsView {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  width: 1000px
}

.divImgCard {
  width: 300px;
  margin: 20px auto;

  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
  background-color: rgb(245, 244, 244);
}

.cardText {
  text-align: center;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardPrice {
  text-align: center;

  width: 50%;
  
  font-size: large;
  color: red;
}

.divImgList {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.ListView {
  background-color: rgb(245, 244, 244);
}

.addButton {
  width: 90px;
  height: 40px;

  margin-right: 30px;
  padding: 0;

  border: 1px solid red;
  border-radius: 25% 10%;
  color: red;
  font-weight: 600;

  cursor: pointer;
}
